@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">Welcome</h1>
    <h2 class="display-8"> To</h2>
    <h3 class="display-8">Placement Management System</h3>
</div>
