@model BindModel
@{
    ViewData["Title"] = "Search";
}

<div class="col-md-4">
    <form asp-controller="Students" asp-action="BindData" method="post" role="form">
        <div class="form-group">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="Student_Name"></label>
            <select asp-for="Student_Name"
                    class="form-control"
                    asp-items="@(new SelectList(Model.ListOfStudents,"Value", "Text"))">
            </select>
        </div>
        <div class="form-group">
            <input id="Submit1" class="btn btn-success" type="submit" value="Send" />
        </div>
    </form>
</div>`